.nav {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  @include center;
  justify-content: space-between;

  .logo {
    font-size: 1.2rem;
  }

  .checkBtn {
    display: none;
  }

  ol {
    list-style: none;
    @include center;
    a {
      font-size: 0.9rem;
      text-decoration: none;
      color: $grey;
      margin: 0.3rem;
      border-radius: 50%;
      padding: 0.5rem 1.5rem;
      &:hover {
        border: solid 1px $grey;
        transition: border 1s ease-out;
      }
    }
  }
}
