.main {
  width: 85%;
  height: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;

  .box {

   margin-top: 8rem;

    h1 {
      @include mainTitles;
      text-transform: uppercase;
      font-size: 4.5rem;
      line-height: 5rem;
      color: $grey;
      margin-bottom: 0.5rem;
      span {
        @include secondaryTitles;
        color: $white;
        text-transform: none;
        font-size: 5.5rem;
      }
    }

    h2 {
      @include secondaryTitles;
      font-size: 5.5rem;
      color: $yellow;
      margin-bottom: 1.2rem;
    }

    .btn {
      font-size: 1.3rem;
      background: none;
      color: $grey;
      border: none;
      cursor: pointer;
      border: solid 1px $grey;
      border-radius: 50%;
      padding: 0.5rem 1.5rem;
      transition: all 0.5s;

      &:hover {
        background-color: $orange;
        color: $white;
      }

    }
  }

  img {
    width: 38rem;
    position: absolute;
    right: 20px;
    z-index: -1;
    top: 0;
  }

}

@include laptop {
  .main {
    img {
      width: 34rem;
      right: 0;
    }

    .box {

      margin-top: auto;

      h1 {
        @include mainTitles;
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 4rem;
        color: $grey;
        margin-bottom: 0;
        span {
          @include secondaryTitles;
          color: $white;
          text-transform: none;
          font-size: 3.5rem;
        }
      }
      h2 {
        @include secondaryTitles;
        font-size: 3rem;
        color: $yellow;
        margin-bottom: 1rem;
      }
  }

  }
}

@include tablet {
  .main {
    align-items: flex-end;
    img {
      width: 34rem;
      top: 0;
    }

    .box {
      margin-top: 0;
      h1 {
        @include mainTitles;
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 4rem;
        color: $grey;
        margin-bottom: 0;
        span {
          @include secondaryTitles;
          color: $white;
          text-transform: none;
          font-size: 3.5rem;
        }
      }
      h2 {
        @include secondaryTitles;
        font-size: 3.5rem;
        color: $yellow;
        margin-bottom: 1rem;
      }
  }
}
}

@media (max-width: 900px) {
  .main {
    img {
      width: 30rem;
    }

    .box {

      h1 {
        @include mainTitles;
        text-transform: uppercase;
        font-size: 2.5rem;
        line-height: 3rem;
        color: $grey;
        margin-bottom: 0;
        span {
          @include secondaryTitles;
          color: $white;
          text-transform: none;
          font-size: 3rem;
        }
      }
      h2 {
        @include secondaryTitles;
        font-size: 3rem;
        color: $yellow;
        margin-bottom: 1rem;
      }
  }

  }
}

@media (max-width: 600px) {

  .main {
    img {
      width: 22rem;
      top: 1rem;
    }

    .box {

      h1 {
        @include mainTitles;
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: $grey;
        margin-bottom: 0;
        span {
          @include secondaryTitles;
          color: $white;
          text-transform: none;
          font-size: 2.3rem;
        }
      }
      h2 {
        @include secondaryTitles;
        font-size: 2.3rem;
        color: $yellow;
        margin-bottom: 1rem;
      }
  }

  }

}