.studies {
    display: flex;
    margin: 0 auto;
    width: 85%;
    padding: 3rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  
    // align-items: start;
  
    .box_wrap {
      
       margin-top: 6rem;
  
      .studiesText1 {
        @include headingSection1;
        color: $purple;
      }
      .studiesText2 {
        margin-top: -2rem;
        @include headingSection2;
        color: $grey;
      }
    }
  
    .left {

        max-width: 50%;

    }
  
    .right {
        margin-right: 10%;
        max-width: 50%;
        .study {

            border-bottom: solid 1px $grey;
            margin-bottom: 2.5rem;

            .studiesTitle {
                display: flex;
                justify-content: space-between;
                //align-items: center;
                h3 {
                    font-size: 2.3rem;
                    margin-bottom: 1rem;
                    color: $white;
                }

                h4 {
                    font-size: 1.5rem;
                    font-family: $secondaryFont;
                    font-weight: normal;
                    //border: solid 1px $purple;
                    //border-radius: 50%;
                    //padding: 1rem 1.2rem;
                    margin-left: 40px;
                    color: $grey;
                }
            }
      
            p {
              font-size: 1.8rem;
              margin-bottom: 1rem;
              max-width: 75%;
              color: $grey;
            }

        }
    }
  }

  @include laptop {
    .experience {
    
      .box_wrap {
        margin-top: 5rem;
    
        p {
          font-size: 1.5rem;
        }
    
        .studiesText1 {
          @include mainTitles;
          font-size: 3rem;
          line-height: 4rem;
        }
        .studiesText2 {
          @include secondaryTitles;
          font-size: 3.5rem;
        }
      }
    
      .left {
        max-width: 50%;
      }
    
      .right {
        margin-right: 5%;
        max-width: 35%;
      }
    }
  }
  
  @media (max-width: 900px) {
  
    .experience {
      .box_wrap {
  
        p {
          font-size: 1.3rem;
        }
  
        .studiesText1 {
          @include mainTitles;
          font-size: 2.5rem;
          line-height: 4rem;
        }
        .studiesText2 {
          @include secondaryTitles;
          font-size: 3rem;
        }
        
  
      }
      .left {
        max-width: 50%;
      }
    
      .right {
        margin-right: 5%;
        max-width: 35%;
      }
    }
  }
  
  @media (max-width: 600px) {
  
    .studies {
  
      flex-direction: column-reverse;
      align-items: flex-start;
  
      .box_wrap {
  
        margin: 0 0;
  
        p {
          font-size: 1.3rem;
          text-align: left;
        }
  
        .studiesText1 {
          @include mainTitles;
          font-size: 1.8rem;
          line-height: 4rem;
        }
        .studiesText2 {
          @include secondaryTitles;
          font-size: 2.3rem;
        }
        
  
      }
      .left {
        max-width: 90%;
      }
    
      .right {
        align-content: flex-start;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 2.5rem;
        width: 90%;
      }
    }
  }