$purple: #b892ff;
$orange: #ee6c4d;
$yellow: #F5CB5C;
$dirtyWith: #EFE8D7;
$black: #212529;
$white: #fdfbfb;
$grey: #e6d0d0b4;

$primaryFont: "Syne", sans-serif;
$secondaryFont: "ogg italic";

$smallLaptop-paragrapghs-fontSize:  1.2rem; 
$mobile-paragrapghs-fontSize:  0.75rem;
$mobile-mainTitles1-fontSize: 1.8rem;
$mobile-mainTitles2-fontSize: 2rem;

// variables contenedor works

$vertPad: 80px;
$sidePad: 70px;

$numOfEls: 5;
$elMrg: 1%;

$initAT: 1s;
$initDelayStep: 0.1s;
$fullInitAT: $initAT + $initDelayStep * ($numOfEls - 1);
$moveAT: 0.6s;
$expandAT: 0.7s;
$expandDelay: 0.1s;
$bgScaleAT: 0.8s;
$fadeoutAT: $moveAT + $expandAT/2;
$indexHoverAT: 0.5s;
$closeBtnAT: 0.3s;
$closeBtnLineDelay: 0.15s;
$fullExpandAT: $moveAT + $expandDelay + $expandAT;
$contentFadeinAT: 0.5s;
