$purple: #b892ff;
$orange: #ee6c4d;
$yellow: #F5CB5C;
$dirtyWith: #EFE8D7;
$black: #212529;
$white: #fdfbfb;
$grey: #fcf1f1b4;

$primaryFont: "Syne", sans-serif;
$secondaryFont: "ogg italic";

$smallLaptop-paragrapghs-fontSize:  1.2rem; 
$mobile-paragrapghs-fontSize:  0.75rem;
$mobile-mainTitles1-fontSize: 1.8rem;
$mobile-mainTitles2-fontSize: 2rem;


