
.works {
  display: flex;
  margin: 0 auto;
  width: 85%;
  padding: 6rem 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 $sidePad;

 .box_wrap {
    margin-top: 4rem;

    .worksText1 {
      @include headingSection1;
      color: $orange;
    }
    .worksText2 {
      margin-top: -2rem;
      @include headingSection2;
      color: $grey;
    }

    p {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      text-align: left;
    }

  }

  .left {
    max-width: 35%;
  }

  .right {
    margin-left: 10%;
    max-width: 50%;
  }

}


