/**********Small laptop 1200-1390px***********/
/*** tablet ***/
/**********Mobile 420px***********/
.nav {
  width: 85%;
  height: 70px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #e6d0d0b4;
  margin-bottom: 0.5rem;
}

.nav .logo {
  font-size: 1.2rem;
}

.nav .checkBtn {
  display: none;
}

.nav ol {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ol a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fdfbfb;
  margin: 0.3rem;
  border-radius: 50%;
  padding: 0.4rem 1.2rem;
}

.nav ol a:hover {
  border: solid 1px #e6d0d0b4;
  -webkit-transition: border 1s ease-out;
  transition: border 1s ease-out;
}

@media (max-width: 1000px) {
  .nav .checkBtn {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
  }
  .nav .checkBtn::before {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 1.2rem;
    color: #e6d0d0b4;
  }
  .nav .checkBtn:checked::before {
    content: "\f00d";
    font-size: 1.35rem;
  }
  .nav .checkBtn:checked + ol {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .nav ol {
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #212529;
    z-index: 100;
    padding: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: -webkit-clip-path 0.4s;
    transition: -webkit-clip-path 0.4s;
    transition: clip-path 0.4s;
    transition: clip-path 0.4s, -webkit-clip-path 0.4s;
  }
  .nav ol::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e6d0d0b4;
  }
}

.main {
  width: 85%;
  height: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main .box {
  margin-top: 8rem;
}

.main .box h1 {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 5rem;
  color: #e6d0d0b4;
  margin-bottom: 0.5rem;
}

.main .box h1 span {
  font-family: "ogg italic";
  font-weight: normal;
  color: #fdfbfb;
  text-transform: none;
  font-size: 5.5rem;
}

.main .box h2 {
  font-family: "ogg italic";
  font-weight: normal;
  font-size: 5.5rem;
  color: #F5CB5C;
  margin-bottom: 1.2rem;
}

.main .box .btn {
  font-size: 1.3rem;
  background: none;
  color: #e6d0d0b4;
  border: none;
  cursor: pointer;
  border: solid 1px #e6d0d0b4;
  border-radius: 50%;
  padding: 0.5rem 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main .box .btn:hover {
  background-color: #ee6c4d;
  color: #fdfbfb;
}

.main img {
  width: 38rem;
  position: absolute;
  right: 20px;
  z-index: -1;
  top: 0;
}

@media (max-width: 1200px) {
  .main img {
    width: 34rem;
    right: 0;
  }
  .main .box {
    margin-top: auto;
  }
  .main .box h1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 4rem;
    color: #e6d0d0b4;
    margin-bottom: 0;
  }
  .main .box h1 span {
    font-family: "ogg italic";
    font-weight: normal;
    color: #fdfbfb;
    text-transform: none;
    font-size: 3.5rem;
  }
  .main .box h2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3rem;
    color: #F5CB5C;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1000px) {
  .main {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main img {
    width: 34rem;
    top: 0;
  }
  .main .box {
    margin-top: 0;
  }
  .main .box h1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 4rem;
    color: #e6d0d0b4;
    margin-bottom: 0;
  }
  .main .box h1 span {
    font-family: "ogg italic";
    font-weight: normal;
    color: #fdfbfb;
    text-transform: none;
    font-size: 3.5rem;
  }
  .main .box h2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3.5rem;
    color: #F5CB5C;
    margin-bottom: 1rem;
  }
}

@media (max-width: 900px) {
  .main img {
    width: 30rem;
  }
  .main .box h1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #e6d0d0b4;
    margin-bottom: 0;
  }
  .main .box h1 span {
    font-family: "ogg italic";
    font-weight: normal;
    color: #fdfbfb;
    text-transform: none;
    font-size: 3rem;
  }
  .main .box h2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3rem;
    color: #F5CB5C;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .main img {
    width: 22rem;
    top: 1rem;
  }
  .main .box h1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #e6d0d0b4;
    margin-bottom: 0;
  }
  .main .box h1 span {
    font-family: "ogg italic";
    font-weight: normal;
    color: #fdfbfb;
    text-transform: none;
    font-size: 2.3rem;
  }
  .main .box h2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 2.3rem;
    color: #F5CB5C;
    margin-bottom: 1rem;
  }
}

.rotated {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 85%;
  padding: 3rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .box_wrap {
  margin-top: 10rem;
}

.about .box_wrap p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: right;
}

.about .box_wrap .aboutText1 {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #b892ff;
}

.about .box_wrap .aboutText2 {
  margin-top: -2rem;
  font-family: "ogg italic";
  font-weight: normal;
  font-size: 5.5rem;
  color: #e6d0d0b4;
}

.about .left {
  max-width: 35%;
}

.about .right {
  margin-right: 10%;
  max-width: 50%;
}

.separator {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  border-bottom: solid 1px #e6d0d0b4;
}

@media (max-width: 1200px) {
  .about .box_wrap {
    margin-top: 5rem;
  }
  .about .box_wrap p {
    font-size: 1.5rem;
  }
  .about .box_wrap .aboutText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 4rem;
  }
  .about .box_wrap .aboutText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3.5rem;
  }
  .about .left {
    max-width: 50%;
  }
  .about .right {
    margin-right: 5%;
    max-width: 35%;
  }
}

@media (max-width: 900px) {
  .about .box_wrap p {
    font-size: 1.3rem;
  }
  .about .box_wrap .aboutText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .about .box_wrap .aboutText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3rem;
  }
  .about .left {
    max-width: 50%;
  }
  .about .right {
    margin-right: 5%;
    max-width: 35%;
  }
}

@media (max-width: 600px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-top: solid 1px #e6d0d0b4;
    margin-top: 4rem;
  }
  .about .box_wrap {
    margin: 0 0;
  }
  .about .box_wrap p {
    font-size: 1.3rem;
    text-align: left;
  }
  .about .box_wrap .aboutText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 4rem;
  }
  .about .box_wrap .aboutText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 2.3rem;
  }
  .about .left {
    max-width: 90%;
  }
  .about .right {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2.5rem;
    width: 90%;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 85%;
  padding: 6rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 100px;
}

.works .box_wrap {
  margin-top: 6rem;
}

.works .box_wrap .worksText1 {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #ee6c4d;
}

.works .box_wrap .worksText2 {
  margin-top: -2rem;
  font-family: "ogg italic";
  font-weight: normal;
  font-size: 5.5rem;
  color: #e6d0d0b4;
}

.works .box_wrap p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: left;
}

.works .left {
  max-width: 35%;
}

.works .right {
  margin-left: 10%;
  max-width: 50%;
}

@media (max-width: 1200px) {
  .works .box_wrap {
    margin-top: 5rem;
  }
  .works .box_wrap p {
    font-size: 1.5rem;
  }
  .works .box_wrap .worksText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 4rem;
  }
  .works .box_wrap .worksText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3.5rem;
  }
  .works .left {
    max-width: 50%;
  }
  .works .right {
    margin-right: 5%;
    max-width: 35%;
  }
}

@media (max-width: 900px) {
  .works .box_wrap p {
    font-size: 1.3rem;
  }
  .works .box_wrap .worksText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .works .box_wrap .worksText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3rem;
  }
  .works .left {
    max-width: 50%;
  }
  .works .right {
    margin-right: 5%;
    max-width: 35%;
  }
}

@media (max-width: 600px) {
  .works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 0px;
  }
  .works .box_wrap {
    margin-top: 2.5rem;
  }
  .works .box_wrap p {
    font-size: 1.3rem;
  }
  .works .box_wrap .worksText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 4rem;
  }
  .works .box_wrap .worksText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 2.3rem;
  }
  .works .left {
    width: 90%;
  }
  .works .right {
    max-width: 90%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cont {
  position: relative;
  overflow: hidden;
  height: 80vh;
  padding: 80px 100px;
  margin-bottom: 2rem;
}

.cont__inner {
  position: relative;
  height: 100%;
}

.cont__inner:hover .el__bg:after {
  opacity: 1;
}

.el {
  position: absolute;
  left: 0;
  top: 0;
  width: 19.2%;
  height: 100%;
  background: #F5CB5C;
  -webkit-transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  will-change: transform, width, opacity;
}

.el:not(.s--active) {
  cursor: pointer;
}

.el__preview-cont {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s 1.2s;
  transition: all 0.3s 1.2s;
}

.el__preview-cont h2 {
  font-family: "ogg italic";
  color: #212529;
  text-align: center;
  width: 80%;
  padding: 1rem 0;
  background-color: #ffffff80;
  border: solid 1px #212529;
  border-radius: 100px;
}

.el__index {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  text-align: center;
  font-size: 20vw;
  line-height: 1;
  font-weight: bold;
  -webkit-transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
  transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transition: transform 0.5s, opacity 0.3s 1.4s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, 1vw, 0);
          transform: translate3d(0, 1vw, 0);
}

.el:hover .el__index {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.cont.s--el-active .el__index {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
  opacity: 0;
}

.el__index-back, .el__index-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.el__index-back {
  color: #b892ff;
  opacity: 0;
  -webkit-transition: opacity 0.25s 0.25s;
  transition: opacity 0.25s 0.25s;
}

.el:hover .el__index-back {
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 1;
}

.el__index-overlay {
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  color: transparent;
}

.el__index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fdfbfb;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}

.el:hover .el__index-overlay {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.el:hover .el__index-overlay:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.el:nth-child(1) {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.cont.s--el-active .el:nth-child(1):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
          transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(1) .el__inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.el:nth-child(1) .el__bg {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.el:nth-child(1) .el__bg:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg");
}

.el:nth-child(2) {
  -webkit-transform: translate3d(105.20833%, 0, 0);
          transform: translate3d(105.20833%, 0, 0);
  -webkit-transform-origin: 155.20833% 50%;
          transform-origin: 155.20833% 50%;
}

.cont.s--el-active .el:nth-child(2):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(105.20833%, 0, 0);
          transform: scale(0.5) translate3d(105.20833%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(2) .el__inner {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.el:nth-child(2) .el__bg {
  -webkit-transform: translate3d(-19.2%, 0, 0);
          transform: translate3d(-19.2%, 0, 0);
}

.el:nth-child(2) .el__bg:before {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg");
}

.el:nth-child(3) {
  -webkit-transform: translate3d(210.41667%, 0, 0);
          transform: translate3d(210.41667%, 0, 0);
  -webkit-transform-origin: 260.41667% 50%;
          transform-origin: 260.41667% 50%;
}

.cont.s--el-active .el:nth-child(3):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(210.41667%, 0, 0);
          transform: scale(0.5) translate3d(210.41667%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(3) .el__inner {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.el:nth-child(3) .el__bg {
  -webkit-transform: translate3d(-38.4%, 0, 0);
          transform: translate3d(-38.4%, 0, 0);
}

.el:nth-child(3) .el__bg:before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg");
}

.el:nth-child(4) {
  -webkit-transform: translate3d(315.625%, 0, 0);
          transform: translate3d(315.625%, 0, 0);
  -webkit-transform-origin: 365.625% 50%;
          transform-origin: 365.625% 50%;
}

.cont.s--el-active .el:nth-child(4):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(315.625%, 0, 0);
          transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(4) .el__inner {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.el:nth-child(4) .el__bg {
  -webkit-transform: translate3d(-57.6%, 0, 0);
          transform: translate3d(-57.6%, 0, 0);
}

.el:nth-child(4) .el__bg:before {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg");
}

.el:nth-child(5) {
  -webkit-transform: translate3d(420.83333%, 0, 0);
          transform: translate3d(420.83333%, 0, 0);
  -webkit-transform-origin: 470.83333% 50%;
          transform-origin: 470.83333% 50%;
}

.cont.s--el-active .el:nth-child(5):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(420.83333%, 0, 0);
          transform: scale(0.5) translate3d(420.83333%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(5) .el__inner {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.el:nth-child(5) .el__bg {
  -webkit-transform: translate3d(-76.8%, 0, 0);
          transform: translate3d(-76.8%, 0, 0);
}

.el:nth-child(5) .el__bg:before {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg");
}

.el:hover .el__bg:after {
  opacity: 0;
}

.el.s--active {
  z-index: 1;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
  transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
}

.el.s--active .el__bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.el.s--active .el__bg:before {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project1 {
  background-image: url("./images/projects/5/proyect1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 1px #b892ff;
}

.project2 {
  background-image: url("./images/projects/4/cups.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 1px #b892ff;
}

.project3 {
  background-image: url("./images/projects/2/poster-mockup.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 1px #b892ff;
}

.project4 {
  background-image: url("./images/projects/1/destacados.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 1px #b892ff;
}

.project5 {
  background-image: url("./images/projects/5/tablets.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 1px #b892ff;
}

@media (max-width: 600px) {
  .cont {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .cont .el {
    width: 100%;
  }
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 85%;
  padding: 3rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.experience .box_wrap {
  margin-top: 6rem;
}

.experience .box_wrap .expeText1 {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #F5CB5C;
}

.experience .box_wrap .expeText2 {
  margin-top: -2rem;
  font-family: "ogg italic";
  font-weight: normal;
  font-size: 5.5rem;
  color: #e6d0d0b4;
}

.experience .left {
  max-width: 50%;
}

.experience .right {
  margin-left: 10%;
  max-width: 50%;
}

.experience .right .expe {
  border-bottom: solid 1px #e6d0d0b4;
  margin-bottom: 2.5rem;
}

.experience .right .expe .expeTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experience .right .expe .expeTitle h3 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: #fdfbfb;
}

.experience .right .expe .expeTitle h4 {
  font-size: 1.5rem;
  font-family: "ogg italic";
  font-weight: normal;
  margin-left: 40px;
  color: #e6d0d0b4;
}

.experience .right .expe p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  max-width: 75%;
  color: #e6d0d0b4;
}

@media (max-width: 1200px) {
  .experience .box_wrap {
    margin-top: 5rem;
  }
  .experience .box_wrap p {
    font-size: 1.5rem;
  }
  .experience .box_wrap .expeText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 4rem;
  }
  .experience .box_wrap .expeText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3.5rem;
  }
  .experience .left {
    max-width: 50%;
  }
  .experience .right {
    margin-right: 5%;
    max-width: 35%;
  }
}

@media (max-width: 900px) {
  .experience .box_wrap p {
    font-size: 1.3rem;
  }
  .experience .box_wrap .expeText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .experience .box_wrap .expeText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3rem;
  }
  .experience .left {
    max-width: 50%;
  }
  .experience .right {
    margin-right: 5%;
    max-width: 35%;
  }
}

@media (max-width: 600px) {
  .experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .experience .box_wrap {
    margin: 0 0;
  }
  .experience .box_wrap p {
    font-size: 1.3rem;
    text-align: left;
  }
  .experience .box_wrap .expeText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 4rem;
  }
  .experience .box_wrap .expeText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 2.3rem;
  }
  .experience .left {
    max-width: 90%;
  }
  .experience .right {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2.5rem;
    width: 90%;
  }
}

.studies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 85%;
  padding: 3rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.studies .box_wrap {
  margin-top: 3rem;
}

.studies .box_wrap .studiesText1 {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #b892ff;
}

.studies .box_wrap .studiesText2 {
  margin-top: -2rem;
  font-family: "ogg italic";
  font-weight: normal;
  font-size: 5.5rem;
  color: #e6d0d0b4;
}

.studies .left {
  max-width: 50%;
}

.studies .right {
  margin-right: 10%;
  max-width: 50%;
}

.studies .right .study {
  border-bottom: solid 1px #e6d0d0b4;
  margin-bottom: 2.5rem;
}

.studies .right .study .studiesTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.studies .right .study .studiesTitle h3 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: #fdfbfb;
}

.studies .right .study .studiesTitle h4 {
  font-size: 1.5rem;
  font-family: "ogg italic";
  font-weight: normal;
  margin-left: 40px;
  color: #e6d0d0b4;
}

.studies .right .study p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  max-width: 75%;
  color: #e6d0d0b4;
}

@media (max-width: 1200px) {
  .experience .box_wrap {
    margin-top: 5rem;
  }
  .experience .box_wrap p {
    font-size: 1.5rem;
  }
  .experience .box_wrap .studiesText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 4rem;
  }
  .experience .box_wrap .studiesText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3.5rem;
  }
  .experience .left {
    max-width: 50%;
  }
  .experience .right {
    margin-right: 5%;
    max-width: 35%;
  }
}

@media (max-width: 900px) {
  .experience .box_wrap p {
    font-size: 1.3rem;
  }
  .experience .box_wrap .studiesText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .experience .box_wrap .studiesText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 3rem;
  }
  .experience .left {
    max-width: 50%;
  }
  .experience .right {
    margin-right: 5%;
    max-width: 35%;
  }
}

@media (max-width: 600px) {
  .studies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .studies .box_wrap {
    margin: 0 0;
  }
  .studies .box_wrap p {
    font-size: 1.3rem;
    text-align: left;
  }
  .studies .box_wrap .studiesText1 {
    font-family: "Syne", sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 4rem;
  }
  .studies .box_wrap .studiesText2 {
    font-family: "ogg italic";
    font-weight: normal;
    font-size: 2.3rem;
  }
  .studies .left {
    max-width: 90%;
  }
  .studies .right {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2.5rem;
    width: 90%;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 85%;
  padding: 3rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .box_wrap {
  margin-top: 3rem;
}

.skills .box_wrap .skillsText1 {
  font-family: "Syne", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #ee6c4d;
  text-align: center;
}

.skills .box_wrap .skillsText2 {
  margin-top: -2rem;
  font-family: "ogg italic";
  font-weight: normal;
  font-size: 5.5rem;
  color: #e6d0d0b4;
  text-align: center;
}

.skills .left {
  max-width: 85%;
}

.skills .right {
  max-width: 85%;
}

.skills .right .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 2rem 2rem;
}

.skills .right .skill .skillTitle img {
  max-width: 140px;
  cursor: pointer;
  padding: 2rem 2rem;
}

.skills .right .skill .skillTitle img:hover {
  border: solid 1px #e6d0d0b4;
}

.skills .right .skill p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  max-width: 75%;
  color: #e6d0d0b4;
}

@font-face {
  font-family: 'ogg regular';
  src: url("../fonts/OGG ROMAN.OTF") format("opentype");
}

@font-face {
  font-family: 'ogg italic';
  src: url("../fonts/OGG ITALIC.OTF") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

body {
  background-color: #212529;
  font-family: "Syne", sans-serif;
  color: #fdfbfb;
  overflow-x: hidden;
  cursor: url(images/icons/circle-solid.png);
}

@media (max-width: 1000px) {
  body {
    font-size: 0.8rem;
  }
}

.separator {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  border-bottom: solid 1px #e6d0d0b4;
  padding: 2rem 0;
}
/*# sourceMappingURL=style.css.map */